:root {
  --bg-main: #fbf0df;
  --color-primary: #e66a62;
  --color-dark: #324e62;
  --color-light: #ffbca3;
  --color-link: #8362ad;

  /* Font & Font Size */
  --font-primary: "Montserrat", sans-serif;
  --txt-sz-sml: 1.2rem;
  --txt-sz-reg: 1.6rem;
  --txt-sz-lrg: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-dark);
}

main {
  background-color: var(--bg-main);
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-width {
  max-width: 130rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

li {
  list-style: none;
}

.active-link {
  color: var(--color-primary);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 4.8rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(2px);
  background-color: #fbf0dfe8;
}

.header-logo {
  fill: var(--color-dark);
  width: 4rem;
}

.nav-link-list {
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.35s;
}

.nav-link:hover,
.nav-link:active {
  font-weight: 800;
}

/* Footer */
footer,
footer a {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1.4rem;
}

.footer-logo {
  font-size: 3rem;
}

.footer-link {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
/*** main page ***/
/* landing */
.section-landing {
  background-color: var(--bg-main);
  padding: 12rem 8rem;
}

.landing {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;
}

.landing-heading {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-dark);
  margin-bottom: 3.2rem;
}

.landing-text {
  font-size: 2rem;
  line-height: 1.6;
  color: var(--color-dark);
  margin-bottom: 3.2rem;
}

.landing-cta {
  display: inline-block;
  font-weight: 600;
  color: var(--color-dark);
  border: 2.5px solid var(--color-primary);
  border-radius: 5px;
}

.landing-cta:link,
.landing-cta:visited {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  transition: all 0.25s;
}

.landing-cta:hover,
.landing-cta:active {
  font-weight: 650;
  background-color: var(--color-primary);
}

.landing-image {
  width: 65%;
}

/*** why choose ***/
.section-why {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0 2.2rem;
}

.section-why-title {
  text-align: center;
  font-size: 4.4rem;
  padding: 3.2rem 0;
  font-weight: 500;
}

.container-flex-card {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 2rem;
  gap: 4.2rem;
}

.card-why {
  text-align: center;
}

.card-why i {
  font-size: 5.2rem;
  margin-bottom: 1.2rem;
}

.card-why h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.card-why p {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

/* review */
.section-review {
  padding-bottom: 3.2rem;
}

.section-review h2 {
  text-align: center;
  margin: 2.4rem 0;
  font-size: 3.2rem;
}

.review-card {
  margin: 2.2rem auto;
  max-width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3.2rem;
  background-color: var(--color-light);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.review-text h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.review-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

.review-card img {
  width: 19rem;
}

/*** team-page ***/
.section-team {
  padding: 4rem 2rem;
}

.section-team h1 {
  margin: 7.2rem 0;
  text-align: center;
  font-size: 4.2rem;
}

.cheff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.cheff p {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 2.2rem;
  font-weight: 400;
}

.cheff img {
  width: 45rem;
  margin: 5rem 0;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 68rem;
}

.video-center {
  text-align: center;
}

/*** menu page ***/
.section-menu {
  padding: 8rem 0;
  background-color: var(--bg-main);
}

.menu-title {
  text-align: center;
  font-size: 6.2rem;
  margin-bottom: 2rem;
}

.menu-text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

/*** Menu Card ***/
.menu-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  height: 90vh;
}

.menu-card {
  width: 24rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Stack contents vertically */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items horizontally */
  border: 2px solid var(--color-dark);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(50, 78, 98, 0.5);
}

.menu-card h3,
.menu-card img {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
}

.menu-card img {
  width: 20rem;
  border-radius: 0.5rem;
}

.menu-cta {
  display: inline-block;
  padding: 0.4rem 4rem;
  border: 2.5px solid var(--color-dark);
  border-radius: 2px;
}

.menu-cta:link,
.menu-cta:visited {
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.35s;
}

.menu-cta:hover,
.menu-cta:active {
  font-weight: 650;
  background-color: var(--color-primary);
}
